*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: white;
    --color-ligthgrey: grey;
    --color-mediumgrey: rgb(96, 95, 95);
    --color-darkgrey: rgb(72, 71, 71);

    font-family: 'Roboto', sans-serif;
  }

body{
    background-color: var(--color-darkgrey);
}

.logo img {
    height: 250px;
    margin-left: 45%;
  }

  .logo h1{
    color: var(--color-white);
    text-align: center;
    font-size: 30px;
  }
  .logo p{
    color: var(--color-ligthgrey);
    text-align: center;
    font-size: 20px;
    margin: 10px;

  }

.container-card{
height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
       
}

.card{
width: 280px;
height: 400px;
margin-left: 20px;
margin-top: 20px;
margin-bottom: 20px;
perspective: 700px;

}

.front,.back{
    position: absolute;
    width: 280px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    transition: 700ms;
}

.front {
    background-color:var(--color-mediumgrey);
    z-index: 1;
}
.front h2 {
    color: var(--color-ligthgrey);
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 60px;
    margin-top: 30px;
    
}

.back {
    background-color:var(--color-mediumgrey);
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.back h2{
    text-align: center;
    color: var(--color-darkgrey);
    font-size: 40px;
}

.back h3{
    text-align: center;
    color: var(--color-ligthgrey);
    font-size: 20px;
    margin-top: 15px;
}

.back p {
    text-align: center;
    color: var(--color-ligthgrey);
    font-size: 10px;
    margin-top: 7px;
}
.back a{
    position: relative;
    display: inline-block;
    margin-left: 35%;
    padding: 8px 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    background: var(--color-ligthgrey);
    color: var(--color-darkgrey);
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0.5px 7px rgba(0, 0, 0, 0.1);
}

.back a:hover {
    background-color: var(--color-mediumgrey);
    color: var(--color-white);
    border: 1px solid var(--color-ligthgrey);
}

.card:hover .front{
    transform:rotateY(180deg);
    z-index: 0;
}

.card:hover .back {
    transform: rotateY(0);
    z-index: 1;
}

@media screen and (max-width: 750px) {
    .logo img {
       margin-left: 25%;
      }

      .logo h1{
       font-size: 25px;
      }
      .logo p{
        
        font-size: 15px;
       
         }

}